.heading {
  text-align: center;
  color: #eee;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
}
.error {
  text-align: center;
  color: crimson;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2;
}
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  opacity: .8;
  padding: 2rem 3rem;
}

.card .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.card .card-body .content input {
  margin-top: 2rem;
  background: #eee;
  border-radius: 5rem;
  border: 0.2rem solid #121212;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-body .content .search {
  width: 100%;
  background: #eee;
  text-transform: none;
  font-size: 1.5rem;
  color: #121212;
  padding: 0 1.3rem;
}


.card .card-body .box .heading{
    color: #121212;
    font-weight: 600;
    font-size: 2rem;
}

.card .card-body .box .city-name{
    text-align: center;
}
.card .card-body .box .city-name span {
    color: #1e2432;
    font-size: 2rem;
    font-weight: bold;
}
.card .card-body .box .city-name sup{
    background-color: orangered;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    color: #eee;
    font-weight: bold;

}

.card .card-body .box .city-temp{
    color: #1e2432;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

.card .card-body .box .info{
    text-align: center;
}
.card .card-body .box .info p{
    font-weight: bold;
    color: #1e2432;
    line-height: 2;
    font-size: 1.5rem;
}
